.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.table td {
    border: none !important;
    padding-top: .6rem !important;
    padding-bottom: .2rem !important;
}

.dropdown button, .dropdown-item, form label, .card-text, .modal-body{
    text-transform: capitalize;
}
