.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.sidebar-nav li .row {
    display: contents;
}

.table {
    border-top: 1px solid #dee2e6;
}

.table td {
    border: none;
    padding-top: .6rem;
    padding-bottom: .2rem;
}

.login-form {
    width: 100%;
    max-width: 430px;
    padding: 15px;
    margin: auto;
    height: 100%;
}

.dropdown {
    text-transform: capitalize;
}
